# disable Apache filename pattern matching via mod_negotiation (i.e. allow our routing to work)
Options -MultiViews

RewriteEngine On

# make Authorization header accessible to PHP as $_SERVER['HTTP_AUTHORIZATION']
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# rewrite requests to handler
RewriteRule .* slim.php [QSA,L]
